table,
th,
tr,
td {
    border: 1px solid black;
}

.div1 {
    margin: 0 auto;
    width: 600px;
}

.table1 {
    margin: 0 auto;
}

.table1 td {
    text-align: center;
}

.table2 {
    margin: 0 auto;
    font-size: 10px;
}

.table2 tr {
    height: 25px;
}

.table2 td {
    text-align: center;
}

.td_w35 {
    width: 35px;
}

.td_w50 {
    width: 50px;
}

.td_w90 {
    width: 90px;
}

.td_w100 {
    width: 100px;
}

.td_w150 {
    width: 150px;
}

.td_w200 {
    width: 200px;
}

.td_w250 {
    width: 250px;
}

.td_w300 {
    width: 300px;
}

/* lotto */
:root {
    --ball10: #fbc400;
    --ball20: #69c8f2;
    --ball30: #ff7272;
    --ball40: #aaa;
    --ball50: #b0d840;
}

.prize25up {
    background-color: rgba(76, 76, 219, 0.219);
}

.prize50up {
    background-color: rgba(231, 32, 18, 0.308);
}

.ball {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bolder;
    color: #ffffff;
    padding: 1px 1px;
    margin: 5px 1px;
}

.ball_big1 {
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #ffffff;
    padding: 1px 1px;
    margin: 5px 1px;
}

.ball10 {
    background-color: var(--ball10);
    border: 1px solid var(--ball10);
}

.ball20 {
    background-color: var(--ball20);
    border: 1px solid var(--ball20);
}

.ball30 {
    background-color: var(--ball30);
    border: 1px solid var(--ball30);
}

.ball40 {
    background-color: var(--ball40);
    border: 1px solid var(--ball40);
}

.ball50 {
    background-color: var(--ball50);
    border: 1px solid var(--ball50);
}

.div_box1 {
    border: 1px solid black;
    border-radius: 10px;
    width: 640px;
    margin: 10px auto 20px auto;
    padding: 3px 5px;
}

#lotto_machine {
    width: 50%;
    height: 400px;
    margin: 20px auto;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
}