<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Container</title>
  <link rel="stylesheet" href="/stylesheets/chat_container.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="/script/chat_container.js" type="module" defer></script>
</head>

<body>
  <header>
    <%- include ('sidebar.ejs') %>
  </header>
  <div class="body_div">
    <div class="chat_body">
      <div id="chat_list_container">
        <div class='chat_list_top_div'>
          <div class='chat_username'>
            <span><%= username %></span>
            <span class='not_read_cnt_span'></span>
          </div>
          <div>
            <ion-icon name='add-circle-outline' class='add_chat'></ion-icon>
          </div>
        </div>
        <div class='chat_list_div'></div>
      </div>
      <div id="chat_container">
        <div id="chat"></div>
        <div id="chat_input_container">
          <textarea name="chat_input" id="chat_input" placeholder="줄 바꾸기 alt + enter"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay"></div>
  <div id="create_chat_popup">
    <div id="create_chat_div">
      <div id="create_chat_input">
        <input type="text" id="create_chat_roomName" placeholder="Chat Room Name">
      </div>
      <div id="create_chat_user_list">
      </div>
      <div id="create_chat_btn_div">
        <button id="create_chat_btn">확인</button>
        <button id="create_chat_close_btn">취소</button>
      </div>
    </div>
  </div>
</body>

</html>