<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <link rel="stylesheet" href="styles/index.css">
</head>
<script type="text/javascript">
  function movePage(lotto){
    location.href = "/" + lotto;
  }
</script>
<body>
  <div style="margin: 0 auto; width: 600px;">
  <h1 style="margin: 10px auto; width: 550px;">NODE JS - MARIA DB - EJS TEST</h1>
  <table class="table1" style="margin: 0 auto;">
      <th>Mail</th>
      <th>Name</th>
   <% for(var obj of results){ %>
    <tr>
      <td class="td_w250"><%= obj.EMAIL %></td>
      <td class="td_w100"><%= obj.USERNAME %></td>
    </tr>
    <% } %>
  </table>
  </div>
  <div><button type="button" onclick="movePage('lotto')">lotto</button></div>
</body>

</html>