<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Page</title>
    <link rel="stylesheet" href="/stylesheets/logPage.css">
    <link rel="stylesheet" href="../node_modules/paginationjs/dist/pagination.css">
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../node_modules/paginationjs/dist/pagination.js"></script>
    <script type="text/javascript" src="/script/logPage.js" defer></script>
</head>
<body>
    <div style="margin: 0 auto; width: 80%;">
        <h1 style="margin: 10px auto; width: 550px;">Log Page</h1>
        
        <% if(master_yn){ %>
            <div id="log_history">
                <div id="data-container">
                    <div class="loader">
                        <span><i></i></span>
                    </div>
                </div>
                <div id="pagination-container"></div>
            </div>
        <% } %>
    </div>
</body>
</html>