<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Page</title>
</head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.7/sorting/formatted-numbers.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="/script/logPage.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/logPage.css">
<body>
    <header>
        <%- include ('sidebar.ejs') %>
    </header>
    <div class="body_div">
        <% if(master_yn){ %>
            <h1 style="margin: 10px auto; text-align: center;">Log</h1>
            <div class="log_history">
                <div id="log_data_container">
                    <div class="loader">
                        <span><i></i></span>
                    </div>
                </div>
            </div>

            <h1 style="margin: 10px auto; text-align: center;">Member</h1>
            <div class="manage_member">
                <div id="member_data_container">
                    <div class="loader">
                        <span><i></i></span>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>