<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lotto</title>
    <link rel="stylesheet" href="styles/index.css">
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./script/index_script.js" defer></script>
</head>
<body>
    <div style="margin: 0 auto; width: 80%;">
        <h1 style="margin: 10px auto; width: 550px;">NODE JS - MARIA DB - lotto.ejs</h1>
        <h3>Counting</h3>
        <div class="div_box1" id="lo_cnt">
            <div class="loader">
                <span><i></i></span>
            </div>
        </div>
        <h3>RECENTLY 10 ROUND Counting</h3>
        <div class="div_box1" id="10round_cnt">
            <div class="loader">
                <span><i></i></span>
            </div>
        </div>

        <h3>Above average</h3>
        <div class="div_box1" id="above_average">
            <div class="loader">
                <span><i></i></span>
            </div>
        </div>
        <h3>Above 25%</h3>
        <div class="div_box1" id="above_25">
            <div class="loader">
                <span><i></i></span>
            </div>
        </div>
        <h3>Below average</h3>
        <div class="div_box1" id="below_average">
            <div class="loader">
                <span><i></i></span>
            </div>
        </div>
        <h3>Below 25%</h3>
        <div class="div_box1" id="below_25">
            <div class="loader">
                <span><i></i></span>
            </div>
        </div>
        <div class="div_box2">
            <div id="lotto_machine">
                <div id="pick_num"> </div>
                <div>
                    <input class="op_val input_wh33" maxlength="2">
                    <input class="op_val input_wh33" maxlength="2">
                    <input class="op_val input_wh33" maxlength="2">
                    <input class="op_val input_wh33" maxlength="2">
                    <input class="op_val input_wh33" maxlength="2">
                </div>

                <div class="box">
                    <div class="selectBox">
                      <button class="label">Select Option</button>
                      <input id="op_value" value="0" hidden>
                      <ul class="optionList">
                        <li class="optionItem" value=0>None</li>
                        <li class="optionItem" value=1>평균보다 많이 나온 번호</li>
                        <li class="optionItem" value=2>많이 나온 번호</li>
                        <li class="optionItem" value=3>평균보다 적게 나온 번호</li>
                        <li class="optionItem" value=4>적게 나온 번호</li>
                        <li class="optionItem" value=5>최근 10회차 번호</li>
                      </ul>
                    </div>
                </div>
                <div style="float: right;">
                    <button type="button" onclick="lotto_extraction()" class="button_css">추출</button>
                    <button type="button" onclick="save_num()" class="button_css">저장</button>
                </div>
                <div id="save_box"></div>
            </div>
            <div class="history_result"></div>
        </div>
        <div>
            <form action="/save" method="POST">
                <div class="form-group">
                    <label>회차</label>
                    <input type="text" class="form-control" name="round" />
                </div>
                <div class="form-group">
                    <label>num1</label>
                    <input type="text" class="form-control" name="num1" />
                </div>
                <div class="form-group">
                    <label>num2</label>
                    <input type="text" class="form-control" name="num2" />
                </div>
                <div class="form-group">
                    <label>num3</label>
                    <input type="text" class="form-control" name="num3" />
                </div>
                <div class="form-group">
                    <label>num4</label>
                    <input type="text" class="form-control" name="num4" />
                </div>
                <div class="form-group">
                    <label>num5</label>
                    <input type="text" class="form-control" name="num5" />
                </div>
                <div class="form-group">
                    <label>num6</label>
                    <input type="text" class="form-control" name="num6" />
                </div>
                <div class="form-group">
                    <label>numB</label>
                    <input type="text" class="form-control" name="numB" />
                </div>
                <div class="form-group">
                    <label>prize1</label>
                    <input type="text" class="form-control" name="prize1" />
                </div>
                <div class="form-group">
                    <label>prize1cnt</label>
                    <input type="text" class="form-control" name="prize1cnt" />
                </div>
                <div class="form-group">
                    <label>prize2</label>
                    <input type="text" class="form-control" name="prize2" />
                </div>
                <div class="form-group">
                    <label>prize2cnt</label>
                    <input type="text" class="form-control" name="prize2cnt" />
                </div>
                <div class="form-group">
                    <label>round_date</label>
                    <input type="text" class="form-control" name="round_date" />
                </div>
                <div class="form-group">
                    <label>regid</label>
                    <input type="text" class="form-control" name="regid" />
                </div>
                <button type="submit" class="button_css">Submit</button>
            </form>
        </div>
        
        <div><button onclick="history_toggle()" class="button_css" style="margin-bottom: 10px;">기록</button></div>

        <div id="history" style="display: none;">
            <div class="loader">
                <span><i></i></span>
            </div>
        </div>
    </div>
</body>
</html>