<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stock_popup</title>
</head>
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.7/sorting/formatted-numbers.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <!-- chart.js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.1/dist/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://www.chartjs.org/chartjs-chart-financial/chartjs-chart-financial.js"></script>
    <!-- chart.js cdn -->
    <!-- chart.js zoom plugin cdn -->
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>
    <!-- chart.js zoom plugin cdn -->
    <!-- highcharts cdn -->
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
    <!-- highcharts cdn -->
    <script type="module" src="/script/stock_popup.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/stock.css">
<body>
    <input type="text" id="itemnm" style="display: none;">
    <input type="text" id="months" style="display: none;">
    <input type="text" id="serviceKey" placeholder="서비스키" style="display: none;">
    <input type="text" id="numOfRows" placeholder="페이지 결과 수" style="display: none;">
    <input type="text" id="pageNo" placeholder="페이지 번호" style="display: none;">
    <input type="text" id="resultType" placeholder="resultType" style="display: none;">
    <div id="data_screen">
        <div id="chart_div1">
            <!-- <canvas id="chart1"></canvas> -->
            <div id="chart-candlestick"></div>
        </div>
        <!-- <div id="chart_div2">
            <canvas id="chart2"></canvas>
        </div> -->
    </div>
</body>
</html>