body{
    font-family: Arial, sans-serif;
    background-color: #edf1f4;
    margin: 0px; 
}

.body_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px; 
}

#chat_list_container{
    width: 400px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 536px;
    background-color: #445d77;
    padding: 5px;
}

#chat{
    width: 400px;
    border-top-right-radius: 5px;
    height: 500px;
    background-color: #dbdbdb;
    padding: 5px;
}

#chat_input_container{
    width: 400px;
    padding: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
}

#chat_input{
    height: 20px;
    padding: 2px;
    outline: none;
    border: 0;
    width: calc(100% - 10px);
}

.my_chat_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    text-align: right;
    margin: 7px 5px 7px 0px;
    padding: 5px;
    min-height: 30px;
    width: calc(100% - 20px);
    transition: 0.5s;
    border-right: 5px solid #445d77;
}

.my_chat_list:hover{
    cursor: pointer;
    background: #32465a;
}

.my_chat_list.selected{
    background: #32465a;
    border-right: 5px solid #6383a1;
}

.chat_list_data1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat_list_data2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat_list_data1>.chat_user{
    margin: 1px;
    font-size: 16px;
    font-weight: bold;
}

.chat_list_data1>.chat_reg_date{
    margin: 1px;
    font-size: 12px;
}

.chat_list_data2>.chat_summary{
    margin: 1px;
    color:#cdcbcb;
    font-size: 15px;
}

.chat_list_data2>.chat_unread_cnt{
    margin: 1px;
    font-size: 12px;
    font-weight: bold;
    background: #dbdbdb;
    color: #445d77;
    border-radius: 8px;
    padding: 2px 5px;
}

.my_chat_box{
    text-align: right;
    margin: 12px;
    font-size: 16px;
}

.chat_box{
    text-align: left;
    margin: 12px;
    font-size: 16px;
}

.my_chat_box>span{
    background-color: #ffffff;
    color: #435f7a;
    border-radius: 5px;
    padding: 5px 7px;
}

.chat_box>span{
    background-color: #435f7a;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 7px;
}

.my_chat_box>em, .chat_box>em{
    margin: 5px;
    font-size: 11px;
    vertical-align: bottom;
}

.em_unread_cnt{
    color: #737373;
}

.chat_list_top_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

.add_chat{
    font-size: 2em;
    cursor: pointer;
}

.chat_reg_day_div{
    text-align: center;
}

.chat_reg_day{
    font-size: 12px;
    background: aliceblue;
    padding: 4px 15px;
    border-radius: 10px;
}
