body{
    background: #edf1f4;
}

table,
th,
tr,
td {
    border: 1px solid black;
}

.div1 {
    margin: 0 auto;
    width: 600px;
}

.table1 {
    margin: 0 auto;
}

.table1 td {
    text-align: center;
}

.table2 {
    margin: 0 auto;
    font-size: 10px;
}

.table2 tr {
    height: 25px;
}

.table2 td {
    text-align: center;
}

.td_w35 {
    width: 35px;
}

.td_w45 {
    width: 45px;
}

.td_w50 {
    width: 50px;
}

.td_w80 {
    width: 80px;
}

.td_w90 {
    width: 90px;
}

.td_w100 {
    width: 100px;
}

.td_w130 {
    width: 130px;
}

.td_w150 {
    width: 150px;
}

.td_w200 {
    width: 200px;
}

.td_w250 {
    width: 250px;
}

.td_w300 {
    width: 300px;
}

.f_8{
    font-size: 0.8rem;
    font-weight: bold;
}


/* lotto */
:root {
    --button-color: #ffffff;
    --button-bg-color: #0d6efd;
    --button-hover-bg-color: #025ce2;
    --ball10: #fbc400;
    --ball20: #69c8f2;
    --ball30: #ff7272;
    --ball40: #aaa;
    --ball50: #b0d840;
}

.prize25up {
    background-color: rgba(76, 76, 219, 0.219);
}

.prize50up {
    background-color: rgba(231, 32, 18, 0.308);
}

.ball {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bolder;
    color: #ffffff;
    padding: 1px 1px;
    margin: 5px 2px;
}

.ball_small1 {
    width: 21px;
    height: 21px;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bolder;
    color: #ffffff;
    padding: 1px 1px;
    margin: 5px 2px;
}

.ball_big1 {
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #ffffff;
    padding: 1px 1px;
    margin: 5px 2px;
}

.ball10 {
    background-color: var(--ball10);
    border: 1px solid var(--ball10);
}

.ball20 {
    background-color: var(--ball20);
    border: 1px solid var(--ball20);
}

.ball30 {
    background-color: var(--ball30);
    border: 1px solid var(--ball30);
}

.ball40 {
    background-color: var(--ball40);
    border: 1px solid var(--ball40);
}

.ball50 {
    background-color: var(--ball50);
    border: 1px solid var(--ball50);
}

.not_include_ball{
    background-color:  rgb(237 235 235 / 36%);
    border: 1px solid rgb(216, 214, 214);
    color: #cbc7c7;
}

.div_box1 {
    border: 1px solid var(--button-bg-color);
    border-radius: 10px;
    width: 80%;
    margin: 10px auto 20px auto;
    padding: 3px 5px;
}

.div_box2 {
    margin: 10px auto 20px auto;
    padding: 3px 5px;
    display: flex;
}

#lotto_machine {
    width: 50%;
    min-height: 400px;
    margin: 20px 5px 20px auto;
    padding: 10px 10px;
    border: 1px solid var(--button-bg-color);
    border-radius: 10px;
    display: inline-block;
    min-width: 310px;
    max-width: 400px;
}

.left_box{
    display: inline-block;
    position: relative;
    margin: 20px auto 20px 5px;
    min-width: 410px;
    max-width: 410px;
}

.div_wrap {
    display: inline-block;
    margin: 2px 2px;
}

/* 로딩 */
.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .loader span {
    position: relative;
    width: 35px;
    height: 35px;
    background: #eaeef0;
    border: 2px solid #eaeef0;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 1), 8px 8px 25px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
 }
 
 .loader span::before {
    content: '';
    position: absolute;
    inset: 8px;
    background: #eaeef0;
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 1), 8px 8px 25px rgba(0, 0, 0, 0.25),
       inset 3px 3px 10px rgba(0, 0, 0, 0.1),
       inset -1px -1px 15px rgba(255, 255, 255, 1);
    border: 2px solid #eaeef0;
    z-index: 1;
 }
 
 .loader span i {
    position: absolute;
    inset: 0;
    background: linear-gradient(#0583ebd4, #f12368db, #f3dd1bd9);
    border-radius: 50%;
    filter: blur(5px);
    animation: animate 1s linear infinite;
 }
 
 @keyframes animate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
 }
 /* 로딩 */

 .input_wh33 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--button-bg-color);
    text-align: center;
    margin-right: 0.5em;
    font-weight: bolder;
    font-size: 1rem;
 }
 
 .input_wh33:hover,
 .input_wh33:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 0.5em transparent;
    background-color: var(--button-bg-color);
    color: #ffffff;
    outline: 1px solid var(--button-bg-color);
 }

.ex_num:hover {
    animation: pulse2 1s;
    box-shadow: 0 0 0 0.3em transparent;
    outline: 1px solid #303030;
 }
 
 @keyframes pulse {
    0% {
       box-shadow: 0 0 0 0 var(--button-bg-color);
    }
 }
 
 @keyframes pulse2 {
    0% {
       box-shadow: 0 0 0 0 #303030;
    }
 }

 #pick_num {
    display: block;
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-bg-color);
    color: var(--button-color);
    height: 4rem;
    text-align: center;
    border-radius: 2rem;
    line-height: 3.8;
    margin: 0px auto 15px auto;
 }

 #pick_num .ball_big1{
    margin: 0px 5px;
 }

 #save_box {
    width: 85%;
    margin: 40px auto 5px auto;
    font-size: 1.5rem;
    text-align: center;
 }

 .button_css {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--button-bg-color);
    color: var(--button-color);
    margin: 0;
    padding: 0.2rem 0.5rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    width: auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
 }
 
 .button_css:active,
 .button_css:hover,
 .button_css:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
 }
 
 .button_css:disabled {
    opacity: 0.5;
 }

 .tra-effect{
    animation: tra-ani 0.7s;
 }

 @keyframes tra-ani {
    0% {
       opacity: 0.2;
    }

    100%{
        opacity: 1;
    }
 }

 /* 옵션 css */
.selectBox * {
    box-sizing: border-box;
}
 
.selectBox {
    position: relative;
    width: 280px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid var(--button-bg-color);
    background: url('https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/down-bottom-arrow-512.png') calc(100% - 7px) center no-repeat;
    background-size: 20px;
    cursor: pointer;
    margin: 10px auto;
}
 
.selectBox:after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 35px;
    background: var(--button-bg-color);
}
 
.selectBox .label {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
}
 
.selectBox .optionList {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    background: var(--button-bg-color);
    color: #fff;
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}
 
.selectBox .optionList::-webkit-scrollbar {
    width: 6px;
}
 
.selectBox .optionList::-webkit-scrollbar-track {
    background: transparent;
}
 
.selectBox .optionList::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 45px;
}
 
.selectBox .optionList::-webkit-scrollbar-thumb:hover {
    background: #303030;
}
 
.selectBox.active .optionList {
    max-height: 500px;
}
 
.selectBox .optionItem {
    border-bottom: 1px dashed #003481;
    padding: 5px 15px 5px;
    transition: .1s;
}
 
.selectBox .optionItem:hover {
    background: var(--button-hover-bg-color);
}
 
.selectBox .optionItem:last-child {
    border-bottom: 0 none;
}
/* 옵션 css */

.history_result{
    display: inline-block;
    width:97%;
    position: relative;
    margin-top: 10px;
    padding: 5px 5px;
    border: 1px solid var(--button-bg-color);
    border-radius: 10px;
    min-height: 150px;
}

.history_result_span{
    width: 75px;
    display: inline-block;
}

#except_num_input{
    border: 1px solid #ddd;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 7px;
    width: 70%;
 }
 
 .ex_active{
    outline: 2px solid black;
 }
 
 #except_num .ball{
    margin: 7px 7px;
 }

#except_num_box{
    border: 1px solid var(--button-bg-color);
    border-radius: 10px;
    padding: 5px;
}