html{
    height: 200%;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #edf1f4;
    margin: 0px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 5px 40px 120px;
}

.item {
    position: relative;
    width: 230px;
    height: 230px;
    margin: 20px;
    background-color: #ccc;
    border: 1px solid #b6b6b6;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.item:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
    transform: translate(3px, -3px);
}

#movePage_confirmed{
    position: fixed;
    top: 28%;
    left: calc(50% - 140px);
	display: none;
    opacity: 0;
	z-index: 2;
    width: 280px;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
    color: rgba(38, 38, 38, 0.9);
    padding: 10px 0px;
}

#movePage_confirmed button{
    height: 32px;
    min-width: 60px;
    outline-offset: 2px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

#confirm{
    all: unset;
	margin-left: 10px;
	line-height: 18px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	cursor: pointer;
    background: rgb(33, 33, 33);
}

#confirm:hover{
    background: rgb(81, 81, 81);
}

#cancel{
    all: unset;
	margin-left: 10px;
	line-height: 18px;
	font-size: 14px;
	color: rgb(26, 26, 26);;
	cursor: pointer;
    background: rgba(0, 0, 0, 0.08);
}

#cancel:hover{
    background: rgba(0, 0, 0, 0.15);
}

.list_name{
    text-align: center;
    position: relative;
    bottom: 25px;
    z-index: 1;
    transition: 0.5s ease-in-out;
    font-size: 13px;
}

.item:hover .list_name {
    text-shadow:
    -0.2px -0.2px 0 #000000,
    0.2px -0.2px 0 #000000,
    -0.2px 0.2px 0 #000000,
    0.2px 0.2px 0 #000000;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}