html{
    height: 200%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.modal-content>img {
    width: 600px !important;
    height: 600px !important;
    margin: 0 !important;
    cursor: default;
}

.item {
    position: relative;
    width: 230px;
    height: 230px;
    margin: 20px;
    background-color: #ccc;
    border: 1px solid #b6b6b6;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.item:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.18);
}

.zoom {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

.zoom:hover{
    font-size: 17px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    background-color: rgb(218, 216, 216);
    z-index: 3;
    margin: 5% auto;
    width: 600px;
    height: 600px;
    position: relative;
    border-radius: 12px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    z-index: 1;
}

.gif_img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
}

#movePage_confirmed{
    position: fixed;
    top: 20%;
    left: calc(50% - 130px);
	display: none;
    opacity: 0;
	z-index: 2;
    width: 260px;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    color: rgba(38, 38, 38, 0.9);
    padding: 5px 0px;
}

#movePage_confirmed button{
    height: 32px;
    min-width: 60px;
    outline-offset: 2px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

#confirm{
    all: unset;
	margin-left: 10px;
	line-height: 18px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	cursor: pointer;
    background: rgb(33, 33, 33);
}

#confirm:hover{
    background: rgb(58, 58, 58);
}

#cancel{
    all: unset;
	margin-left: 10px;
	line-height: 18px;
	font-size: 14px;
	color: rgb(26, 26, 26);;
	cursor: pointer;
    background: rgba(0, 0, 0, 0.08);
}

#cancel:hover{
    background: rgba(0, 0, 0, 0.04);
}

.list_name{
    text-align: center;
    position: relative;
    bottom: 25px;
    z-index: 1;
    transition: 0.5s ease-in-out;
    font-size: 13px;
}

.item:hover .list_name {
    text-shadow:
    -0.2px -0.2px 0 #000000,
    0.2px -0.2px 0 #000000,
    -0.2px 0.2px 0 #000000,
    0.2px 0.2px 0 #000000;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}