body{
    margin: 0;
    background-color: #ffffff;
}

input{
    border: 1px solid #dddddd;
}

.container{
    padding-left: 120px;
}

.search_container{
    width: 1400px;
    margin: 10px auto;
}

.search_box_div{
    display: inline-block;
    width: 450px;
    margin: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
}

.search_box_div2{
    display: inline-block;
    width: 650px;
    margin: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
}

.search_box_div input, .search_box_div2 input{
    margin: 5px;
}

#data_screen{
    display: flex;
    gap: 3px;
    flex-direction: row;
    flex-wrap: wrap;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px;
}

.stock_table_div{
    width: 850px;
    min-height: 700px;
    margin: 10px auto;
    padding: 0 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.stock_table_div table{
    width: 100%;
    font-size: 11px;
}

.stock_table_div td {
    padding: 5px; 
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}

.stock_table_div td a{
    all: unset;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset : 5px;
    text-decoration-color: #acabab;
}

.stock_table_div tr td:nth-child(1), #stock_table_div tr td:nth-child(2) {
    text-align: left;
}

.load_text{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

/* 로딩 */
.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
    position: relative;
    width: 35px;
    height: 35px;
    background: #eaeef0;
    border: 2px solid #eaeef0;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 1), 8px 8px 25px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
}

.loader span::before {
    content: '';
    position: absolute;
    inset: 8px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid #eaeef0;
    z-index: 1;
}

.loader span i {
    position: absolute;
    inset: 0;
    background: linear-gradient(#0583ebd4, #f12368db, #f3dd1bd9);
    border-radius: 50%;
    filter: blur(5px);
    animation: animate 1s linear infinite;
}

@keyframes animate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/* 로딩 */

/* red, blue */
.tag_plus_red{
    color : #e00400;
}
.tag_minus_blue{
    color : #003ace;
}
.tag_none{
    color : #666;
}
/* red, blue */

#chart_div1 {
    width: 1650px;
    height: 870px;
    margin: 10px auto;
    border: 1px solid #ddd;
    padding: 0 10px;
}

#chart_div2 {
    width: 9000px;
    height: 370px;
    margin: 10px auto;
    border: 1px solid #ddd;
    padding: 0 10px;
}

.view_chart{
    display: inline-block;
    width: 36px;
    height: 20px;
    text-align: center;
    margin: 0 3px;
    padding: 1px;
    font-size: 11px;
}
