.box {
   width: 38rem;
   margin: 8rem auto;
   border: 1px solid burlywood;
   border-radius: .5rem;
   padding: 2rem;
}

.box>span {
   margin-bottom: 2rem;
}

.content1 {
   border: 1px solid burlywood;
   border-radius: .5rem;
}

.pen::before {
   content: 'before';
}

.pen::after {
   content: 'after';
}

.highlight {
   display: inline-table;
   position: relative;
   overflow: hidden;
   border-radius: 1rem;
   padding: 0 10px;
}

.highlight::before {
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   background-color: rgba(200, 234, 77, 0.5);
   position: absolute;
   top: 0;
   left: -100%;
   transition: all .55s;
}

.content {
   text-align: center;
}

.content:hover .highlight::before {
   left: 0;
}

.hl1, .hl2 {
   display: inline-table;
   position: relative;
   overflow: hidden;
   border-radius: 1rem;
   padding: 0 3px;
}

.hl1::before, .hl2::before {
   content: '';
   display: block;
   width: 100%;
   height: 100%;

   position: absolute;
   top: 0;
   left: -100%;
   transition: all .55s;
}

.hl1::before {
   background-color: rgba(250, 71, 217, 0.61);
}

.hl2::before {
   background-color: rgba(255, 134, 5, 0.61);
}

.content1:hover .hl1::before, .content1:hover .hl2::before {
   left: 0;
}